// .title {
//     position: relative;
//     font-size: 1.75rem;
//     font-weight: 600;
//     margin-bottom: 4.125rem;

//     &:after {
//         content: "";
//         position: absolute;
//         left: 0;
//         bottom: -1.5rem;
//         width: 80px;
//         height: 3px;
//         background: #ddbb99;
//     }

//     @media (min-width: 1024px) {
//         font-size: 2rem;

//         &:after {
//             content: "";
//             position: absolute;
//             left: 0;
//             bottom: -2.25rem;
//             width: 80px;
//             height: 3px;
//             background: #ddbb99;
//         }
//     }
// }

.title {
    position: relative;
    font-weight: 600;
    margin-bottom: 4.125rem;

    &.h2 {
        font-size: 1.75rem;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1.5rem;
            width: 80px;
            height: 3px;
            background: #ddbb99;
        }
    }

    // Styles for h1
    &.h1 {
        font-size: 2.25rem;
        text-align: left;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -1.5rem;
            width: 80px;
            height: 3px;
            background: #ddbb99;
        }
    }

    @media (min-width: 1024px) {
        &.h2 {
            font-size: 2rem;

            &:after {
                bottom: -2.25rem;
            }
        }

        &.h1 {
            font-size: 2.75rem;

            &:after {
                bottom: -2.25rem;
                width: 120px;
            }
        }
    }
}
